## STRING

* Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [1]:
x = 'prasanna'
print(x)

prasanna

## Class :
  
 A class is like a blueprint or template for creating objects in computer programming.
 
  * Blue print of the objects.
  * defines the properties (attributes) and behaviors (methods) that the objects belonging to that class will have.

In [4]:
x = 'hello'
print(x, type(x))

hello <class 'str'>

In [2]:
print(dir('x'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## Ascii (or) Unicode

* ASCII stands for ‚ÄúAmerican Standard Code for Information Interchange‚Äù. 
* It is a character encoding standard that assigns unique numeric values to different characters, including letters, digits, and   symbols.
* In Python, we can find the ASCII value of a given character using the ord() function.
* The ord() function takes the given character as input and returns the ASCII value of the character.
* ord - Any numbers whose ascii values lies between 65 to 90 is capital letters.

## String Methods :
 * String operations are like tools that you can use to work with text (strings) in computer programming.
strings are immutable, the resulting strings from string methods have a new memory location.
in order to use these strings, we need re-assign it to a variable.

 String_Upper_Case():
 
 * This method changes all the characters in a string to capital alphabets. 
   x.upper()

In [10]:
x = 'PYTHON'
print(x)
x.lower()

PYTHON

'python'

## String_lower_case() :
    
* This method changes all the characters in a string to small letters.

* lower case
 str = 'She sells seashellsby the seashore'
 str.lower()

In [ ]:
* strings are <u>**'immutable'<\u>, the resulting strings from string methods have a new memory location 
* in order to use strings, we need to reassign it to a variable

## String_Upper_Case():
 
 * This method changes all the characters in a string to capital alphabets. 
   x.upper()

 * upper case
 str = 'peter piper picked a peak of pickled persons 
 str.upper()

In [20]:
id(x)

1956794804208

In [22]:
x = [1,2,3]
id(x)

1956809537920

## String_capitalize() :
    
* This method changes first word, first alphabet will be convert into capital letter

* Capitalize()

In [7]:
x = "where are you"
capitalized_x = x.capitalize()
print(capitalized_x)

Where are you

### title()
* converts every first alphabet of every word in capital case
* str.title()

In [31]:
'123abc !def zx 1234!!@@c'.title()

'123Abc !Def Zx 1234!!@@C'

### String Swapcase()

* This method changes capital letters to small letters and small letters to capital letters.
  str.swapcase()

In [12]:
char = "welcome"
swapcase_char = char.swapcase()
print(swapcase_char)

WELCOME

## casefold()

In [ ]:
* This method changes string lower case to more lower case , special characters like Germen character (√ü) is already in lower     case so, the lower method doesn‚Äôt make the conversion.
* but the casefold() method will convert √ü to its equivalent character ss

x = 'Sjuhd√ücnjdGIUN'
x.casefold()

2.
 
 * Explain why strings are Immutable by taking a string method as an example.
 
  strings are immutable, the resulting strings from string methods have a new memory location.

  p="Prasanna"
  print(id(p))

1)

* Take a two strings of your choice,

 i) Reverse one string
    reversing an string we use indexing operation[startüîöstep_size]
 
* In step size by giving negative value to it, changes the direction from right to left, and it will reversed.

In [4]:
x = 'hello'
y = 'world'
y = y[::-1]
y

'dlrow'

ii) Concatenate these two strings

    * concatinating two strings, we use + to add these two strings together.

In [6]:
x = 'hello'
y = 'world'
z = x + y
z

'helloworld'

iii) Get the alternate chars of the concatenate string in reverse order.

* first, we take the two strings
* Then, we add the strings by using concatination operation and assign these value to new variable
* These variable will reverse the string by using reverse operation, and to get alternative values to that string we use           step_size value as -3 then we get the required alternate chars of the concatenate string in reverse order

In [3]:
x = 'hello'
y = 'world'
z = x + y
z = z[::-3]
z

'dolh'

In [27]:
txt = "Hello World"
x = txt[2:5]

## find()

- In Python, the find() method is used to locate the index position at which the first instance of a string occurs in another     string *1234.
- The method returns the starting index position of the value for which you are searching* 1.
- If the value cannot be found, the method returns -1*1234.

In [1]:
help(str.find)

Help on method_descriptor:

find(...)
    S.find(sub[, start[, end]]) -> int

    Return the lowest index in S where substring sub is found,
    such that sub is contained within S[start:end].  Optional
    arguments start and end are interpreted as in slice notation.

    Return -1 on failure.

* Here, S is the string in which we want to search for the substring sub.
* The 'start' and 'end' parameters are optional and specify the range of the string to be searched.
* If the 'substring' is found, the method returns the index of its first occurrence. 
* If not, it returns -1.

In [2]:
xl = '''Peter Piper picked a peck of pickled peppers
A peck of pickled peppers Peter Piper picked.
If Peter Piper picked a peck of pickled peppers,
Where's the peck of pickled peppers that Peter Piper picked?'''
xl

"Peter Piper picked a peck of pickled peppers\nA peck of pickled peppers Peter Piper picked.\nIf Peter Piper picked a peck of pickled peppers,\nWhere's the peck of pickled peppers that Peter Piper picked?"

In [3]:
xl.find('a')

19

In [4]:
xl. find('a', 20)

113

In [5]:
xl. find('a', 0, 10) #start  and end index

-1

## count()

* function is an inbuilt function in Python programming language that returns the number of occurrences of a substring in the given string.

In [7]:
xl.count('Peter')

4

In [8]:
xl.count('p')

28

In [9]:
help(xl.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

* sub: The substring to search for in the given string.
* start: The starting index of the search.
  If not specified, the search starts from the beginning of the string.
* end: The ending index of the search. 
  If not specified, the search continues to the end of the string.

### rfind()
* The find() method is a string method in Python that returns the index of the first occurrence of a substring in a given         string.
* If the substring is not found, it returns -112.

In [10]:
xl = '''Peter Piper picked a peck of pickled peppers
A peck of pickled peppers Peter Piper picked.
If Peter Piper picked a peck of pickled peppers,
Where's the peck of pickled peppers that Peter Piper picked?'''
print(xl)

Peter Piper picked a peck of pickled peppers
A peck of pickled peppers Peter Piper picked.
If Peter Piper picked a peck of pickled peppers,
Where's the peck of pickled peppers that Peter Piper picked?

In [11]:
xl.rfind('a')

178

In [12]:
xl.rfind('a', 12, 140)

113

In [13]:
'malayalam'.rfind('a',2)

7

In [13]:
'malayalam'.rfind('a',2,7)

5

## index()

* The index() method in Python is used to find the index of the first occurrence of a substring within a string.
* It returns the index of the substring if found, and raises a ValueError if the substring is not present 12345.

In [17]:
m = 'malayam'
m.find('a'), m.index('a')

(1, 1)

In [19]:
m.find('z')## gives -1 as value because there is no alphabet "z" in the string

-1

In [21]:
m.index('z')## throws an error value error if ther is no alphabet "z" in string(# uncomment to see the error)

ValueError: substring not found

## rindex()

* it is a built-in method in Python that returns the highest index of the specified substring in a string. 
* It is similar to the index() method, but instead of returning the first occurrence of the substring, it returns the last occurrence

![python-string-indexing.webp](attachment:python-string-indexing.webp)

In [24]:
m.rindex('a')

5

## replace()

* replace() is a built-in method in Python that allows you to replace a substring with another substring in a string. 
* The syntax of the replace()

In [27]:
help(m.replace)

Help on built-in function replace:

replace(old, new, count=-1, /) method of builtins.str instance
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

* old: The substring to be replaced.
* new: The substring to replace the old substring.
* count: The number of occurrences to replace. If not specified, all occurrences will be replaced.

In [29]:
m.replace('m', 'M')

'MalayaM'

In [31]:
m.replace('a', 'A', 2)

'mAlAyam'

In [15]:
m = 'malayam'
m.replace('a', 'A', 5)

'mAlAyAm'

#### split()

* split() is a built-in method in Python that allows you to split a string into a list of substrings. 
* The syntax of the split()
* Here, separator is an optional parameter that specifies the delimiter based on which the given string or line is separated. 
* If you don‚Äôt specify separator, the default separator is any whitespace.
* maxsplit is also an optional parameter that specifies the number of times a given string or line can be split up.
* The default value of maxsplit is -1, which means ‚Äúall occurrences‚Äù.

In [16]:
xl.split()

['Peter',
 'Piper',
 'picked',
 'a',
 'peck',
 'of',
 'pickled',
 'peppers',
 'A',
 'peck',
 'of',
 'pickled',
 'peppers',
 'Peter',
 'Piper',
 'picked.',
 'If',
 'Peter',
 'Piper',
 'picked',
 'a',
 'peck',
 'of',
 'pickled',
 'peppers,',
 "Where's",
 'the',
 'peck',
 'of',
 'pickled',
 'peppers',
 'that',
 'Peter',
 'Piper',
 'picked?']

In [36]:
help(xl.split)

Help on built-in function split:

split(sep=None, maxsplit=-1) method of builtins.str instance
    Return a list of the substrings in the string, using sep as the separator string.

      sep
        The separator used to split the string.

        When set to None (the default value), will split on any whitespace
        character (including \\n \\r \\t \\f and spaces) and will discard
        empty strings from the result.
      maxsplit
        Maximum number of splits (starting from the left).
        -1 (the default value) means no limit.

    Note, str.split() is mainly useful for data that has been intentionally
    delimited.  With natural text that includes punctuation, consider using
    the regular expression module.

* The split() function takes two optional parameters:sep and maxsplit. 
* The 'sep' parameter specifies the delimiter to be used for splitting the string,
  and the 'maxsplit' parameter specifies the maximum number of splits to be performed.

In [17]:
xl.split(' ', maxsplit = 3)

['Peter',
 'Piper',
 'picked',
 "a peck of pickled peppers\nA peck of pickled peppers Peter Piper picked.\nIf Peter Piper picked a peck of pickled peppers,\nWhere's the peck of pickled peppers that Peter Piper picked?"]

In [18]:
xl.split(maxsplit=4) ## split() split spaces from left to right

['Peter',
 'Piper',
 'picked',
 'a',
 "peck of pickled peppers\nA peck of pickled peppers Peter Piper picked.\nIf Peter Piper picked a peck of pickled peppers,\nWhere's the peck of pickled peppers that Peter Piper picked?"]

### rsplit()

* rsplit() is a built-in method in Python that allows you to split a string into a list of substrings.
* The syntax of the rsplit()
* The difference between split() and rsplit() is that split() splits the string from the left, while rsplit() splits the string   from the right.

In [19]:
xl.rsplit('4') ## rsplit it splits from the spaces from (right to left )

["Peter Piper picked a peck of pickled peppers\nA peck of pickled peppers Peter Piper picked.\nIf Peter Piper picked a peck of pickled peppers,\nWhere's the peck of pickled peppers that Peter Piper picked?"]

In [20]:
'rsplit' in dir(str)

True

In [21]:
xl.rsplit(maxsplit=4) ## rsplit split the spaces from end(right to left)

["Peter Piper picked a peck of pickled peppers\nA peck of pickled peppers Peter Piper picked.\nIf Peter Piper picked a peck of pickled peppers,\nWhere's the peck of pickled peppers",
 'that',
 'Peter',
 'Piper',
 'picked?']

In [22]:
'how are you ?' .split(maxsplit = 2)

['how', 'are', 'you ?']

In [23]:
'how are you ?' .rsplit(maxsplit = 2)

['how are', 'you', '?']

## partition(), rpartition() always gives exactly 3 tokens or substrings

In [24]:
xl.partition(' ')

('Peter',
 ' ',
 "Piper picked a peck of pickled peppers\nA peck of pickled peppers Peter Piper picked.\nIf Peter Piper picked a peck of pickled peppers,\nWhere's the peck of pickled peppers that Peter Piper picked?")

In [55]:
m = 'malayalam'
m.split('a')

['m', 'l', 'y', 'l', 'm']

m.partition('a'), m.partition('y')

In [60]:
m.split('z')

['malayalam']

In [62]:
m.partition('z') # if the alphabet is not in string then the empty spaces are occurs in 2 & 3rd stringsdue to it has 3 substrings

('malayalam', '', '')

In [64]:
m.partition('z')[0]+m.partition('z')[1]+m.partition('z')[2]

'malayalam'

In [66]:
m.rpartition('a')

('malayal', 'a', 'm')

In [68]:
m.rpartition('z')# it comes from right to left side

('', '', 'malayalam')

## splitlines()

* splitlines() is a built-in string method in Python that splits a string into a list of strings at line breaks. 
* The line breaks are not included in the resulting strings unless the keepends parameter is set to True

In [25]:
xl.split('\n') #split method splits a string into a list

['Peter Piper picked a peck of pickled peppers',
 'A peck of pickled peppers Peter Piper picked.',
 'If Peter Piper picked a peck of pickled peppers,',
 "Where's the peck of pickled peppers that Peter Piper picked?"]

In [1]:
xl.splitlines`

SyntaxError: invalid syntax (3786411951.py, line 1)

## center()

* The center() method will center align the string, using a specified character (space is default) as the fill character.

In [3]:
m = 'malayalam'
m.center(20)# prints the string in center

'     malayalam      '

In [5]:
m.center(20, '*')# the empty space is filled by giving character

'*****malayalam******'

In [7]:
m.center(5, '*')# if len of string is less than the number then it gives same same thing

'malayalam'

## ljust()

* ljust() is a built-in Python string method that returns a left-justified version of the original string.
* The method takes two arguments: length and character.
* The length argument specifies the length of the returned string, while the character argument specifies the character to fill   the missing space to the right of the string. 
* If no character is specified, a space is used as the default fill character 123.

In [9]:
m.ljust(20, '*')

'malayalam***********'

In [11]:
m.ljust(20)

'malayalam           '

## rjust()

* rjust() is a built-in string method in Python that returns a right-justified version of the string it is called on.
* The method takes two arguments: length and character. 
* length specifies the width of the returned string, and character specifies the fill character. 
* If character is not specified, it defaults to a space character.

In [17]:
m.rjust(20), m.rjust(20, '*')

('           malayalam', '***********malayalam')

In [19]:
m.rjust(25), m.rjust(25, '*')

('                malayalam', '****************malayalam')

#### zfill()

* The zfill() method adds zeros (0) at the beginning of the string, until it reaches the specified length.

* If the value of the len parameter is less than the length of the string, no filling is done.

In [21]:
m.zfill(20)

'00000000000malayalam'

In [23]:
m.ljust(20, '0')

'malayalam00000000000'

## strip()

* The strip() method removes any leading, and trailing whitespaces.

* Leading means at the beginning of the string, trailing means at the end.

* You can specify which character(s) to remove, if not, any whitespaces will be removed.

In [25]:
a = '!@#'+m+'#@!'
a

'!@#malayalam#@!'

In [27]:
mc, ms = m.center(20), m.center(20,'*')

In [29]:
mc, ms

('     malayalam      ', '*****malayalam******')

In [32]:
mc.strip()# strip the whitespaces(remove the last soaces)

'malayalam'

In [35]:
a.strip()

'!@#malayalam#@!'

In [58]:
a.strip('!')

'@#malayalam#@'

In [57]:
a.strip('!@')

'#malayalam#'

In [56]:
aa = '' +a[:-2]+'^'+a[-2:]+''
aa

'!@#malayalam#^@!'

In [63]:
aa.strip('a!#$@m')

'layalam#^'

In [62]:
aa = ''+a[:-2]+'^'+a[-2]+''
aa

'!@#malayalam#^@'

In [65]:
mc.strip()

'malayalam'

In [67]:
a = '!@@#$malayalam$#@!'
a.lstrip('!@')

'#$malayalam$#@!'

In [69]:
v =  '*@!anything!@*'
v.lstrip('*')

'@!anything!@*'

## join()

* The join() method takes all items in an iterable and joins them into one string.
* A string must be specified as the separator.
* Parameter values : iterable Required.
                     Any iterable object where all the returned values are strings.

In [79]:
 y =  ['*', 'a', 'Q']

In [73]:
'!' .join(['*', 'a', 'Q'])

'*!a!Q'

In [81]:
y[0]+'!'+y[1]+'!'+y[2]

'*!a!Q'

In [85]:
  ' '.join(['gravity', 'high'])

'gravity high'

In [86]:
'8'.join('string')

's8t8r8i8n8g'

In [95]:
x = 'who are you'
x = x.split()
x

['who', 'are', 'you']

In [98]:
'****'.join(x)

'who****are****you'

## is upper()

* In Python, isupper() is a built-in method used for string handling. 
* This method returns ‚ÄúTrue‚Äù if all characters in the string are uppercase, otherwise, returns ‚ÄúFalse‚Äù.
* It returns ‚ÄúTrue‚Äù for whitespaces but if there is only whitespace in the string then returns ‚ÄúFalse‚Äù.

In [101]:
a = 'XYZ' .isupper()
a

True

In [103]:
'A BC !' .isupper()# checks whether alphabet in upper case doesn't consider spaces

True

##  startswith()

* The startswith() method returns True if the string starts with the specified value, otherwise False.

* Syntax - string.startswith(value, start, end)

* parameters:
* value -	Required the value to check if the string starts with
* start -	Optional, an integer specifying at which position to start the search
* end -	Optional, an Integer specifying at which position to end the search

In [107]:
  'X YZ z!' .startswith('X ')

True

In [110]:
'X YZ z!' .startswith('XY')

False

## isnumeric()

* The isnumeric() method returns True if all the characters are numeric (0-9), otherwise False.

* Exponents, like ¬≤ and ¬æ are also considered to be numeric values.

* "-1" and "1.5" are NOT considered numeric values, because all the characters in the string must be numeric, and the - and the   . are not.
* syntax - string.isnumeric()
* No parameters are there in isnumeric.

In [112]:
'5'.isnumeric()

True

In [114]:
'5.5'.isnumeric()# because 5.5 is float value

False

## isdecimal()

* The isdecimal() method returns True if all the characters are decimals (0-9).
* This method can also be used on unicode objects.
* syntax-string.isdecimal()
* No parameters are there in isdecimal.

In [116]:
'5.5'.isdecimal()

False

In [118]:
'55'.isdecimal()

True

In [13]:
'-5.5'.isdecimal()

False

## Escape characters

* To insert characters that are illegal in a string, use an escape character.
* An escape character is a backslash \ followed by the character you want to insert.
* The escape character allows you to use double quotes when you normally would not be allowed

In [19]:
x = "There is a \"apple\"on the table"
print(x)

There is a "apple"on the table