In [1]:
import pandas as pd
import seaborn as sns 
import sklearn
import numpy as np

In [7]:
gdf = pd.read_csv(r'C:\Users\pc\Batch 261\Pandas\dataset-1.csv')
gdf

     id_1  id_2  route   moto    car     rv   bus  truck
0     829   827      1   2.05   4.14   4.14  10.1   15.2
1     829   821      4   6.63  13.26  13.26  32.4   48.5
2     829   804      7  14.41  28.92  28.92  64.7   97.0
3     829   822      6   5.90  11.81  11.81  28.8   43.2
4     829   826      9   2.87   5.81   5.81  14.2   21.2
..    ...   ...    ...    ...    ...    ...   ...    ...
336   803   802      3   1.70   3.40   3.40   6.9   10.3
337   803   805      4   3.00   6.00   6.00  12.0   17.9
338   803   825      3  11.59  23.28  23.28  50.1   75.2
339   803   806      9   3.80   7.70   7.70  15.3   23.0
340   803   830      1  16.18  32.47  32.47  72.6  108.8

[341 rows x 8 columns]

## Create  a class ‘Car261_264’ which takes a url/path as an input to create an object. Assert if the columns in the data frame are same as [  id_1id_2route_moto_car_rv_bus_truck] and in the same order. This class should have five methods (names given below) which performs the said functionality.

In [46]:
class Car261_264:
    def __init__(self, path):
        self.df = pd.read_csv(path)
    
    
    def assert_columns(self):
        class_columns=['id_1', 'id_2', 'route', 'moto', 'car','rv', 'bus', 'truck']
        data_columns=list(self.df.columns)
        assert data_columns==class_columns, "Columns do not match the expected formart" 

    
    def Car_matrix_generation(self):
        df=pd.read_csv('C:\\Users\\pc\\Batch 261\\Pandas\\dataset-1.csv')
        matrix=df.pivot_table(index='id_1', columns='id_2', values='car')
        matrix=matrix.fillna(0)
        return matrix
    
    
    def Car_type_count(self):
        df=pd.read_csv('C:\\Users\\pc\\Batch 261\\Pandas\\dataset-1.csv')
        def foo(val):
            types=[]
            if val<=15:
                return 'low'
            elif 16<=val<= 25:
                return 'medium' 
            else: 
                return 'high'
        df['car_type'] = df['car'].apply(foo)
        type_counts = df['car_type'].value_counts().to_dict()
        type_counts = dict(sorted(type_counts.items()))
        return type_counts
    
    
    def Bus_count_indexes(self):
        df = pd.read_csv('C:\\Users\\pc\\Batch 261\\Pandas\\dataset-1.csv')
        bus_mean = df['bus'].mean()
        condition = df['bus'] > 2*bus_mean
        indices = df[condition].index.tolist()
        indices.sort()
        return indices
    
    
    def Route_filtering(self):
        df = pd.read_csv('C:\\Users\\pc\\Batch 261\\Pandas\\dataset-1.csv')
        route_group = df.groupby('route')['truck'].mean()
        filtered = route_group[route_group > 7].index.tolist()
        filtered.sort()
        return filtered
    
    
    def Matrix_multiply(self,df1):
        df = pd.read_csv('C:\\Users\\pc\\Batch 261\\Pandas\\dataset-1.csv') 
        df[df > 20] = df[df > 20] * 0.75
        df[df <= 20] = df[df <= 20] * 1.25
        df = df.round(1)
        return df

In [58]:
a=Car261_264('C:\\Users\\pc\\Batch 261\\Pandas\\dataset-1.csv')
a

# Question 1: Car Matrix Generation
## Under the method named generate_car_matrix write a logic that takes the dataset-1.csv as a DataFrame. Return a new DataFrame that follows the following rules:
   - values from id_2 as columns
   - values from id_1 as index
   - dataframe should have values from car column
   - diagonal values should be 0.

In [59]:
a.Car_matrix_generation()

id_2,801,802,803,804,805,806,807,808,809,821,822,823,824,825,826,827,829,830,831
id_1,,,,,,,,,,,,,,,,,,,
801,0.00,2.80,6.00,7.70,11.70,13.40,16.90,19.60,21.00,23.52,24.67,26.53,27.92,29.08,30.87,32.53,36.32,38.27,39.24
802,2.80,0.00,3.40,5.20,9.20,10.90,14.30,17.10,18.50,20.92,22.07,23.93,25.32,26.48,28.27,29.93,33.72,35.67,36.64
803,6.00,3.40,0.00,2.00,6.00,7.70,11.10,13.90,15.30,17.72,18.87,20.73,22.12,23.28,25.07,26.73,30.52,32.47,33.44
804,7.70,5.20,2.00,0.00,4.40,6.10,9.50,12.30,13.70,16.12,17.27,19.13,20.52,21.68,23.47,25.13,28.92,30.87,31.84
805,11.70,9.20,6.00,4.40,0.00,2.00,5.40,8.20,9.60,12.02,13.17,15.03,16.42,17.58,19.37,21.03,24.82,26.77,27.74
806,13.40,10.90,7.70,6.10,2.00,0.00,3.80,6.60,8.00,10.42,11.57,13.43,14.82,15.98,17.77,19.43,23.22,25.17,26.14
807,16.90,14.30,11.10,9.50,5.40,3.80,0.00,2.90,4.30,6.82,7.97,9.83,11.22,12.38,14.17,15.83,19.62,21.57,22.54
808,19.60,17.10,13.90,12.30,8.20,6.60,2.90,0.00,1.70,4.12,5.27,7.13,8.52,9.68,11.47,13.13,16.92,18.87,19.84
809,21.00,18.50,15.30,13.70,9.60,8.00,4.30,1.70,0.00,2.92,4.07,5.93,7.32,8.48,10.27,11.93,15.72,17.67,18.64
821,23.52,20.92,17.72,16.12,12.02,10.42,6.82,4.12,2.92,0.00,1.80,3.67,5.06,6.22,8.01,9.43,13.26,15.17,16.15
822,24.67,22.07,18.87,17.27,13.17,11.57,7.97,5.27,4.07,1.80,0.00,2.21,3.60,4.76,6.55,8.00,11.81,13.74,14.68
823,26.53,23.93,20.73,19.13,15.03,13.43,9.83,7.13,5.93,3.67,2.21,0.00,1.79,2.94,4.74,6.15,10.00,11.89,12.87
824,27.92,25.32,22.12,20.52,16.42,7.80,11.22,8.52,7.32,5.06,3.60,1.79,0.00,1.71,3.50,4.92,8.77,10.66,11.64
825,29.08,26.48,23.28,21.68,17.58,15.98,12.38,9.68,8.48,6.22,4.76,2.94,1.71,0.00,2.20,3.65,7.46,9.35,10.33
826,30.87,28.27,25.07,23.47,19.37,17.77,14.17,11.47,10.27,8.01,6.55,4.74,3.50,2.20,0.00,2.05,5.81,7.71,8.69
827,32.53,29.93,26.73,25.13,21.03,19.43,15.83,13.13,11.93,9.43,8.00,6.15,4.92,3.65,2.05,0.00,4.14,6.06,7.04
829,36.32,33.72,30.52,28.92,24.82,23.22,19.62,16.92,15.72,13.26,11.81,10.00,21.40,7.46,5.81,4.14,0.00,2.38,3.36
830,38.27,35.67,32.47,30.87,26.77,25.17,21.57,18.87,17.67,15.17,13.74,11.89,10.66,0.00,7.71,6.06,2.38,0.00,1.39
831,39.24,36.64,33.44,31.84,27.74,26.14,22.54,19.84,18.64,16.15,14.68,12.87,11.64,10.33,8.69,7.04,3.36,1.39,0.00

## Question 2: Car Type Count Calculation
* Create a Python method named "get_type_count" that takes the dataset-1.csv as a DataFrame. Add a new categorical column car_type based on values of the column car:

  - low for values less than or equal to 15,
  - medium for values greater than 15 and less than or equal to 25,
  - high for values greater than 25.

* Calculate the count of occurrences for each car_type category and return the result as a dictionary. Sort the dictionary alphabetically based on keys.

In [60]:
a.Car_type_count()

{'high': 68, 'low': 196, 'medium': 77}

## Question 3: Bus Count Index Retrieval
* Create a Python method named get_bus_indexes that takes the dataset-1.csv as a DataFrame. The function should identify and return the indices as a list (sorted in ascending order) where the bus values are greater than twice the mean value of the bus column in the DataFrame.

In [61]:
a.Bus_count_indexes()

[2,
 7,
 12,
 17,
 25,
 30,
 54,
 64,
 70,
 97,
 144,
 145,
 149,
 154,
 160,
 201,
 206,
 210,
 215,
 234,
 235,
 245,
 250,
 309,
 314,
 319,
 322,
 323,
 334,
 340]

## Question 4: Route Filtering
* Create a python method filter_routes that takes the dataset-1.csv as a DataFrame. The function should return the sorted list of values of column route for which the average of values of truck column is greater than 7.

In [62]:
a.Route_filtering()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Question 5: Matrix Value Modification
* Create a Python method named multiply_matrix that takes the resulting DataFrame from Question 1, as input and modifies each value according to the following logic:

  - If a value in the DataFrame is greater than 20, multiply those values by 0.75,
  - If a value is 20 or less, multiply those values by 1.25.
  - The function should return the modified DataFrame which has values rounded to 1 decimal place.

In [57]:
modified_matrix = Car261_264.Matrix_multiply('self','df')
modified_matrix

      id_1   id_2  route  moto   car    rv   bus  truck
0    621.8  620.2    1.2   2.6   5.2   5.2  12.6   19.0
1    621.8  615.8    5.0   8.3  16.6  16.6  24.3   36.4
2    621.8  603.0    8.8  18.0  21.7  21.7  48.5   72.8
3    621.8  616.5    7.5   7.4  14.8  14.8  21.6   32.4
4    621.8  619.5   11.2   3.6   7.3   7.3  17.8   19.9
..     ...    ...    ...   ...   ...   ...   ...    ...
336  602.2  601.5    3.8   2.1   4.2   4.2   8.6   12.9
337  602.2  603.8    5.0   3.8   7.5   7.5  15.0   22.4
338  602.2  618.8    3.8  14.5  21.8  21.8  37.6   56.4
339  602.2  604.5   11.2   4.8   9.6   9.6  19.1   21.6
340  602.2  622.5    1.2  20.2  24.4  24.4  54.4   81.6

[341 rows x 8 columns]